*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
/functions/etc/*
/functions/node_modules/*
/functions/.eslintrc.json
/functions/package.json
/functions/package-lock.json
/public/*
.firebaserc
firebase.json
database.rules.json
storage.rules
/.idea/*
.idea
/app/release/*